h1.page_header {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color:black;
}
div#cabecalho > a:link{
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

#dataHora {
    width: 150px;
    display: inline-block;
    }

#descricaoGist {
    vertical-align: middle;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: capitalize;
}

#lista_de_arquivos{
    margin: 0 auto 0 auto;
    display: block;
    width: 60%;
}


#gistLink{
    margin-bottom: 30px;
}

div.gist-file{
    border: none !important;
}

div.gist-data{
    height: 50%;
}

div.highlight{
    font-size: 1em !important;
}

div#gistViewCabecalho{
    padding: 6px;
}