{{!--     <div class="panel panel-default">
        <div class="panel-heading">(<span id="qtdArtigos">{{gists.length}}</span>) Gists/Artigos</div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            <input type="text" accesskey="f" id="campoPesquisa" class="form-control" placeholder="Pesquisar por..." onkeyup="">
        </div>
    </div> --}}
        <div  id="lista_de_arquivos" class="center-block text-center list-group">
        {{#each gists as |gist|}}
            {{#link-to 'gists.detalhar' gist.id}}
            <div id="gistLink">
             <div id="descricaoGist">{{gist.description}}</div>
              <div id="dataHora">{{gist.criadoEm}} - {{gist.criadoEmHora}}</div> 
            </div>
            {{/link-to}}
        {{/each}}
        </div>
